body {
  margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/
  font-family: Roboto, sans-serif; /*Устанавливает семейство шрифта*/
}
/*Тело сайта*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
}

.titles {
  margin-top: 48px; /*Устанавливает величину отступа от верхнего края элемента*/
  color: #007765; /*Определяет цвет текста элемента*/
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 64px; /*Определяет размер шрифта элемента*/
  line-height: 75px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}
/*Заголвок*/

.main_container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
/*Основной контейнер*/

.site_header {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  background-color: #007765; /*Определяет цвет фона элемента*/
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  z-index: 21; /*Размещением по z-оси*/
  /*transition: height 1s ease-in-out;*/
}
/*Шапка сайта*/

.navigation_container {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}
/*Навигационный контейнер*/

.link {
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
  /*transition: color .2s linear;*/
  /*transition: font-size .3s linear;*/
}
/*Ссылки навигации сайта*/

.section_1 {
  background: url(images/image1.1.png) center no-repeat; /*Установит фон элемента*/
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  margin-top: 84px; /*Устанавливает величину отступа от верхнего края элемента*/
  padding-top: 160px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 160px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Первая cекция*/

.main_title {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 75px; /*Определяет размер шрифта элемента*/
  line-height: 84px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}
/*Основной звголовок*/

.section_2 {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 55px;
  padding-bottom: 95px;
}
/*Вторая cекция*/

.text_section_2 {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 32px; /*Определяет размер шрифта элемента*/
  line-height: 37px; /*Задаёт высоту строки текста*/
}
/*Техт второй секции*/

.span {
  font-weight: 700; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
}
/*Параграф*/

.section_3 {
  background: url(images/image1.2.png) center no-repeat;
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  padding-top: 128px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 128px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Третья секция*/

.message {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  font-style: italic; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 48px; /*Определяет размер шрифта элемента*/
  line-height: 56px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}
/*Сообщение*/

.section_4 {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 48px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 92px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Четвёртая секция*/

.text_section_4 {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 32px; /*Определяет размер шрифта элемента*/
  line-height: 37px; /*Задаёт высоту строки текста*/
  color: #000; /*Определяет цвет текста элемента*/
}
/*Техт четвёртой секции*/

.logo {
  float: left; /*Остальные элементы будут обтекать его с других сторон*/
  padding-right: 48px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
/*Лого*/

.logo_img {
  width: 118px; /*Устанавливает ширину содержимого элемента*/
  height: 118px; /*Устанавливает высоту содержимого элемента*/
}

.section_5 {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 112px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Пятая секция*/

.img {
  width: 350px; /*Устанавливает ширину содержимого элемента*/
  height: 283px; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  flex-flow: column wrap;
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  padding-bottom: 55px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}
/*Изображения*/

.name {
  font-weight: 700; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  color: #007765; /*Определяет цвет текста элемента*/
}
/*Имя*/

.team {
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
}
/*Команда*/

.figure {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
  padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/*Фигура*/

.foto {
  width: 168px; /*Устанавливает ширину содержимого элемента*/
  height: 168px; /*Устанавливает высоту содержимого элемента*/
}
/*Фото*/

.footer {
  padding-top: 50px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  background-color: #333; /*Определяет цвет фона элемента*/
  height: 176px; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}
/*Подвал сайта*/

.text {
  width: 540px; /*Устанавливает ширину содержимого элемента*/
  height: 74px; /*Устанавливает высоту содержимого элемента*/
  margin: 0 auto; /*Расстояние от края элемента до края другог элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 18px; /*Определяет размер шрифта элемента*/
  line-height: 21px; /*Задаёт высоту строки текста*/
}