body{
    
    font-family: Roboto, sans-serif;
    font-style: normal;

    font-size: 24px;

}
header{
	position: fixed;
    display: flex;
    background-color: #007765;
    width: 100%;
    height: 84px;
    top: 0;
    justify-content: space-between;
    align-items: center;


}
.container{
    max-width: 1219px;
    padding-right: 55px;
    padding-left: 55px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;

    float: right;
    position: relative;

}
ul{
    height: 29px;

}
li{
    display: inline;
    color: white;
    float: center;

    

    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}

main{
/*    width: 1219px;
    padding-right: 55px;
    padding-left: 55px;*/
}
.jumbatron{
    background-image: url(../img/image-8.png);
    background-size: cover;
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;
}
h1{
    text-align: center;
    color: white;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
}
.title{
    color: #007765;
    text-align: center;
    font-size: 50px;
}
.section_2{
    background-color: #fff; /*Определяет цвет фона элемента*/
    padding-top: 55px;
    padding-bottom: 95px;
}
.text_section_2{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}
.message{
    background-image: url(../img/image-9.png);
    background-size: cover;
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;
}
.text_message{
    width: 100%;
    text-align: center;
    color: #fff;
    font-style: italic;
    max-width: 893px;
    line-height: 56px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}