footer
{
	display: flex;
	justify-content: left bottom;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	

}
ul
{
	position: relative;
	display: flex;

}
ul li
{
	position: relative;
	line-height: none;
	margin: 0 20px;
	cursor: pointer;

}
ul li a
{
	text-decoration: none;

}
ul li a .fa
{
	font-size: 6em;
	color: #222;

}
