html
{
	scroll-behavior: smooth;
}
footer
{
	
	background: #262626;
}
*
{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*img{
	position: relative;
	display: flex;
/*	margin: auto 0 0 auto;*/
}
body
{
	

}
/*ul
{
	position: relative;
	display: flex;

}*/
/*ul li
{
	position: relative;
	line-height: none;
	margin: 0 20px;
	cursor: pointer;

}
ul li a
{
	text-decoration: none;

}
ul li a .fa
{
	font-size: 6em;
	color: #222;

}*/
/*.social-media
{
	display: flex;
	justify-content: right bottom;
	align-items: center;
	min-height: 100vh;
}*/
.scroll-to-top
{
	position: fixed;
    inset: auto 2rem 2rem auto;
	cursor: pointer;

}
#btnTop{
	    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: red;
    opacity: .6;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}