*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth; /*smooth scrolling for whole page*/
}
body{
    font-family: 'Oswald', sans-serif;
}
.menu{

}
.logo{

}
.logo a{
    text-decoration: none;
    transform: uppercase;
}
.navbar{

}
.navlist{
    list-style: none;
}
.main{

}
.home{
    width: 100%;
    height: 100vh;

    background-position: center center; /*for slider*/
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 16s linear infinite 0s; /*here you can change timeline of the slider*/
    animation-timing-function: ease-in-out;
    background-image: url('../img/coffee_cap.jfif');

    
}
@keyframes slideBg { /*slides*/
    0%{
        background-image: url('../img/coffee_cap.jfif');
    }
    25%{
        background-image: url('../img/barista.jfif');
    }
    50%{
        background-image: url('../img/geizer_coffee.jfif');
    }
    75%{
        background-image: url('../img/coffee_machine.jfif');
    }

}
.line{
    width: 184px;
    height: 5px;
    background-color: #4E3835;
    margin: 50px auto;
}
.story{

}
.blog{

}
.first_card{

}
.second_card{

}
.third_card{

}
.footer{

}
.contact{

}
.footer_bottom{
    
}